img{
    block-size: 200px;
}
body{
    font-family: sans-serif;
    background-color: bisque;
}
.copy_right_footer{
    position:sticky;
    text-align: center;
    background-color: rgb(70, 70, 70);
    font-family: sans-serif;
    color: azure;
}
hr{
    height: 5px;
    background-color: rgb(189, 126, 32);
    -moz-box-align: center;
}
img:hover{
    border-radius: 10px;
    block-size: 201px;
    border-color: rgb(255, 255, 255);
}